body {
  background-color: lightblue;

}

img {
  width: 100%;
  height: auto;
}

.container {
  text-align: center;
}

h3, h2 {
  text-align: center;
}



.container img {
  border-radius: 50px;
}

.circle {
  background-position: center;
  border-radius: 50%;
}

.auto {
  max-width: 100%;
  height: auto;
  display: block;
}

.circle {
  width: 100%;
  border: 5px solid white;
  padding: 2px;
  margin: 0px;
}
